@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

#container {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 10px;
  width: 70%;
  margin: auto;
}

p {
  color: rgb(29, 29, 29);
}
label {
  color: rgb(80, 80, 80);
}
input[type="text"] {
  border-radius: 10px;
  margin-top: 5px;
  border: 1px solid grey;
  padding: 7px 10px;
}
#feedBackForm {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
#feedBackForm > span {
  padding: 10px;
}
#nameAndEmail {
  /* border: 1px solid red; */
  /* text-align: center; */
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin: auto;
}

#firstTimeAndFindDetails {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  text-align: center;
  width: 60%;
  margin: auto;
}
#firstTimeAndFindDetails > span {
  background-color: rgb(240, 240, 240);
  padding: 20px;
  border-radius: 10px;
}
#primaryReasonAndNotFound {
  /* border: 1px solid rgb(0, 133, 133); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
}
#primaryReasonAndNotFound > span {
  background-color: rgb(240, 240, 240);
  padding: 20px;
  border-radius: 20px;
}
#primaryReasonAndNotFound textarea,
#additionFeedback textarea {
  height: 100px;
  width: 350px;
  border: 1px solid grey;
  border-radius: 10px;
}
#easinessAndReturn {
  /* border: 1px solid olive; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
}
#easinessAndReturn > span {
  /* background-color: rgb(240, 240, 240); */
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
}
#easinessAndReturn > span label {
  margin: 5px 0;
  padding-left: 5px;
}
#additionFeedback {
  /* border: 1px solid rgb(255, 17, 0); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#additionFeedback textarea {
  width: 60%;
}
#additionFeedback p {
  margin: 0 0 10px 0;
  color: rgb(29, 29, 29);
  font-size: 17px;
  /* border: 1px solid black; */
  width: 60%;
}
#submitFeedback {
  width: 20%;
  margin: auto;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: rgb(249, 174, 66);
  font-size: 17px;
  color: white;
  font-weight: 600;
}
@media screen and (max-width: 1100px) {
  #container {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  #container {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  #container {
    width: 90%;
  }
  #primaryReasonAndNotFound {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin-top: 50px;
  }
  #primaryReasonAndNotFound > span {
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-radius: 10px;
  }
  #primaryReasonAndNotFound textarea,
  #additionFeedback textarea {
    height: 120px;
    width: 300px;
    border: 1px solid grey;
    border-radius: 10px;
  }
}
@media screen and (max-width: 750px) {
  #container {
    width: 70%;
  }

  #nameAndEmail {
    /* border: 1px solid red; */
    /* text-align: center; */

    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 80px;
    margin-left: 3rem;
  }

  #firstTimeAndFindDetails {
    /* border: 1px solid green; */
    margin-top: 2rem;
    margin-left: 4.5rem;
    display: grid;
    grid-template-columns: 20rem;
    grid-template-rows: 2rem;
  }
  #primaryReasonAndNotFound {
    margin-top: 0.1rem;
    margin-left: 0.01rem;
    display: grid;
    grid-template-columns: 20rem;
    grid-template-rows: 12rem;
  }
  #primaryReasonAndNotFound > span {
    background-color: rgb(240, 240, 240);
    padding: 6px;
    border-radius: 10px;
  }
  #primaryReasonAndNotFound textarea,
  #additionFeedback textarea {
    height: 100px;
    width: 220px;
    border: 1px solid grey;
    border-radius: 10px;
  }
  #easinessAndReturn {
    /* border: 1px solid olive; */
    margin-top: 0.1rem;
    margin-left: 0.01rem;
    display: grid;
    grid-template-columns: 20rem;
    grid-template-rows: 12rem;
  }
}
@media screen and (max-width: 650px) {
  #container {
    width: 78%;
  }
  #nameAndEmail {
    /* border: 1px solid red; */
    /* text-align: center; */

    display: grid;
    grid-template-columns: 10rem;
    grid-template-rows: 5rem;
    margin-left: 1.5rem;
  }

  #firstTimeAndFindDetails {
    /* border: 1px solid green; */
    margin-top: 2rem;
    margin-left: 0.1rem;
    display: grid;
    grid-template-columns: 18rem;
    grid-template-rows: 2rem;
  }
  #primaryReasonAndNotFound {
    margin-top: 0.1rem;
    margin-left: 0.001rem;
    display: grid;
    grid-template-columns: 18rem;
    grid-template-rows: 12rem;
  }
  #primaryReasonAndNotFound > span {
    background-color: rgb(240, 240, 240);
    padding: 6px;
    border-radius: 10px;
  }
  #primaryReasonAndNotFound textarea,
  #additionFeedback textarea {
    height: 100px;
    width: 220px;
    border: 1px solid grey;
    border-radius: 10px;
  }
  #easinessAndReturn {
    /* border: 1px solid olive; */
    margin-top: 0.1rem;
    margin-left: 0.01rem;
    display: grid;
    grid-template-columns: 20rem;
    grid-template-rows: 12rem;
  }
  #submitFeedback {
    width: 25%;
    margin: auto;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: rgb(249, 174, 66);
    font-size: 17px;
    color: white;
    font-weight: 600;
  }
}
@media screen and (max-width: 450px) {
  #container {
    width: 98%;
  }
  #nameAndEmail {
    /* border: 1px solid red; */
    /* text-align: center; */

    display: grid;
    grid-template-columns: 10rem;
    grid-template-rows: 5rem;
    margin-left: 2.8rem;
  }

  #firstTimeAndFindDetails {
    /* border: 1px solid green; */
    margin-top: 2rem;
    margin-left: 4rem;
    display: grid;
    grid-template-columns: 15rem;
    grid-template-rows: 2.8rem;
  }
  #primaryReasonAndNotFound {
    display: grid;
    grid-template-columns: 15rem;
    grid-template-rows: 10rem;
  }
  #primaryReasonAndNotFound > span {
    background-color: rgb(240, 240, 240);
    padding: 6px;
    border-radius: 10px;
  }
  #primaryReasonAndNotFound textarea,
  #additionFeedback textarea {
    height: 100px;
    width: 220px;
    border: 1px solid grey;
    border-radius: 10px;
  }
  #easinessAndReturn {
    /* border: 1px solid olive; */
    margin-top: 0.1rem;
    margin-left: 0.01rem;
    display: grid;
    grid-template-columns: 20rem;
    grid-template-rows: 12rem;
  }
}
@media screen and (max-width: 350px) {
  #container {
    width: 90%;
  }
  #nameAndEmail {
    /* border: 1px solid red; */
    /* text-align: center; */

    display: grid;
    grid-template-columns: 10rem;
    grid-template-rows: 5rem;
    margin-left: 0.8rem;
  }

  #firstTimeAndFindDetails {
    /* border: 1px solid green; */
    margin-top: 2rem;
    margin-left: 0.1rem;
    display: grid;
    grid-template-columns: 15rem;
    grid-template-rows: 2.8rem;
  }
  #primaryReasonAndNotFound {
    display: grid;
    grid-template-columns: 15rem;
    grid-template-rows: 10rem;
  }
  #primaryReasonAndNotFound > span {
    background-color: rgb(240, 240, 240);
    padding: 6px;
    border-radius: 10px;
  }
  #primaryReasonAndNotFound textarea,
  #additionFeedback textarea {
    height: 100px;
    width: 220px;
    border: 1px solid grey;
    border-radius: 10px;
  }
  #easinessAndReturn {
    /* border: 1px solid olive; */
    margin-top: 0.1rem;
    margin-left: 0.01rem;
    display: grid;
    grid-template-columns: 20rem;
    grid-template-rows: 12rem;
  }
}
