<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmed</title>
    <meta http-equiv = "refresh" content = "5; url = https://overstockv2.netlify.app/signup.html" />
    <style>
        body{
            background-color: #E7E5E7;
        }
        div{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div>
        <img src="https://overstock-clone.s3.ap-south-1.amazonaws.com/ezgif.com-resize+(1).gif" alt="">
    </div>
</body>
</html>