<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- example.ejs -->

    <!-- check for user on page load -->
    <% if (typeof user != "undefined") { %>
    <!-- make user available to script tag -->
    <% var user = user %>

    <!-- use script tag to access ejs data and local storage -->
    <script>
      let user = JSON.stringify(user)
      localStorage.setItem('info', JSON.stringify({'user': user}));
    </script>
    <% } %>
  </body>
</html>
