<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .uploaddiv{
            display: flex;
            justify-content: space-between;
            width: 60%;
            margin: auto;
        }
    </style>

</head>
    <h1>Pages Console</h1>
    <label for="">Page Name</label>
    <div>
        <div class="uploaddiv">
            <div>
                <input type="file" id="filepath">
            </div>
            <div>
                <button onclick="uploadImg()">Upload Single</button>
            </div>
            <div>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>

</body>
</html>

<script>
    function uploadImg() {
        const filepath = document.getElementById("filepath").value
        console.log(filepath)
    }
</script>