<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .uploaddiv {
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <h1>Pages Console</h1>
    <form
      action="/upload"
      enctype="multipart/form-data"
      method="post"
    >
      <div class="uploaddiv">
        <div>
          <label for="UploadPic">Upload Picture</label>
          <input type="file" id="uploadPic" name="uploadPic" multiple required/>
        </div>
        <div>
          <input type="submit" value="upload" />
        </div>
        <div>
          <textarea name="" id="" cols="30" rows="10">
            <%= items %>      
        </textarea>
        </div>
      </div>
    </form>
  </body>
</html>