<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv = "refresh" content = "3; url = https://overstockv2.netlify.app/congr.html" />
  <title>Document</title>
</head>
<body>
  <img src="https://overstock-clone.s3.ap-south-1.amazonaws.com/Countdown_Intro_5_3_seconds.gif" alt="">
</body>
</html>